<div class="flex flex-col min-h-screen">
    <NavBar />
    <section class="flex-grow py-8">
        <div class="max-w-screen-lg mx-auto">
            <div class="flex flex-col md:flex-row">
                <nav class="w-full md:w-1/5">
                    <NavItems />
                </nav>
                <div class="w-full md:w-4/5">
                    <div class="p-8">
                        <Hero />
                    </div>
                    <div class="p-12" id="mainContentArea">
                        <Home />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-4">
        <div class="flex text-center justify-center">
            <p>
                Diego Rönkkömäki-Tapia &copy; All rights reserved.
            </p>
        </div>
    </footer>
</div>