<div class="flex flex-col min-h-screen">
    <!-- Navigation Bar -->
    <NavBar />

    <!-- Main Content Area -->
    <section class="flex-grow py-24">
        <div class="max-w-screen-lg mx-auto">
            <div class="flex flex-col md:flex-row">
                <!-- Side Navigation Items -->
                <nav class="w-full md:w-1/5">
                    <NavItems />
                </nav>

                <!-- Main Content Area -->
                <div class="w-full md:w-4/5">
                    <div class="p-8">
                        <Hero />
                    </div>
                    <div class="p-12" id="mainContentArea" hx-get="@CurrentRoute" hx-trigger="load"
                        hx-indicator="#contentLoadingIndicator">
                        <!-- Swap content here with HTMX -->
                    </div>
                    <p class="justify-center text-center htmx-indicator" id="contentLoadingIndicator">
                        Loading...
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="w-full py-4">
        <!-- Added w-full to ensure it takes the full width -->
        <div class="flex justify-center text-center">
            <p>
                Diego Rönkkömäki-Tapia &copy; All rights reserved.
            </p>
        </div>
    </footer>
</div>

@code {
    [Inject] public NavigationManager? NavigationManager { get; set; }

    [Inject] public IHttpContextAccessor? HttpContextAccessor { get; set; }

    private string CurrentRoute = "/home";

    protected override void OnInitialized()
    {
        var request = HttpContextAccessor?.HttpContext?.Request;
        var requestCurrentUrl = request?.Headers["hx-current-url"].ToString() ?? string.Empty;
        if (!string.IsNullOrEmpty(requestCurrentUrl) && NavigationManager != null)
        {
            var requestedRoute = requestCurrentUrl.Replace(NavigationManager.BaseUri, string.Empty);
            CurrentRoute = string.IsNullOrEmpty(requestedRoute) ? CurrentRoute : requestedRoute;
        }
    }
}