<section class="section" style="min-height:85%;">
    <div class="container">
        <div class="columns">
            <Nav />
            <div class="column is-9">
                <Hero />
                <section class="section">
                    <div id="mainContentArea" class="content">
                        <Home />
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<Footer />