<div class="text-center">
    <p class="text-4xl font-bold text-sky-800 dark:text-gray-300">
        <b>404</b>
    </p>
    <p class="text-xl font-bold text-sky-800 dark:text-gray-300">
        <b>Oops, there's nothing here..</b>
    </p>
</div>
