<p class="title is-4">How it works</p>
<p class="subtitle is-5">How does the application function under the hood?</p>

<p>1) Registering a new feature in program.cs</p>
<img src="./img/code-snippet-1.png" style="width:100%;height:100%;border-radius:20px;" />

@code {

}
