html, body {
    height: 100%;
    margin: 0;
}

.toggle-button {
    border: none;
    padding: 0;
    cursor: pointer;
}

    .toggle-button:hover {
        background: rgba(255, 255, 255, 0.1);
    }

.is-fullheight-100vh {
    height: 100vh;
}