<button 
    class="button is-primary"
    style="height:50px;width:100px;"
    hx-post="counter"
    hx-ext='json-enc'
    hx-trigger="click"
    hx-swap="outerHTML"
    hx-vals='{"Count": @(Model.Count + 1)}'>
    <span style="font-size:24px;">@Model.Count</span>
</button>

@code
{
    [Parameter]
    public CounterButtonModel Model { get; set; } = new();
}