<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            Welcome to <b>MARCH</b>
        </p>
        <p class="subtitle">
            (Minimal APIs, Razor Components & HTMX)
        </p>
    </div>
</section>
