<div id="navItems" 
     class="w-full md:w-4/4 p-4" 
     hx-get="/nav-items" 
     hx-trigger="login from:body, logout from:body" 
     hx-target="this" 
     hx-swap="outerHTML">

    <aside id="side-menu" class="menu" hidden="@(Model.IsCollapsed)">
        <p class="font-bold text-sm mb-2">GENERAL</p>
        <ul class="space-y-2">
            <li>
                <a hx-get="/home"
                   hx-push-url="true"
                   hx-trigger="click" 
                   hx-target="#mainContentArea" 
                   hx-swap="innerHTML"
                   hx-on::before-request="toggleNavButton()"
                   class="block p-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded cursor-pointer">
                   Home
                </a>
            </li>
            <li>
                <a hx-get="/how-it-works"
                   hx-push-url="true"
                   hx-trigger="click" 
                   hx-target="#mainContentArea" 
                   hx-swap="innerHTML"
                   hx-on::before-request="toggleNavButton()"
                   class="block p-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded cursor-pointer">
                   How it works
                </a>
            </li>
        </ul>

        <p class="font-bold text-sm mb-2 mt-5">DEMO</p>
        <ul class="space-y-2">
            <li>
                <a hx-get="/counter"
                   hx-push-url="true"
                   hx-trigger="click" 
                   hx-target="#mainContentArea" 
                   hx-swap="innerHTML" 
                   hx-ext='json-enc'
                   hx-on::before-request="toggleNavButton()"
                   class="block p-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded cursor-pointer">
                   Counter
                </a>
            </li>
            <li>
                <a hx-get="/form"
                   hx-push-url="true"
                   hx-trigger="click"
                   hx-target="#mainContentArea"
                   hx-swap="innerHTML"
                   hx-ext='json-enc'
                   hx-on::before-request="toggleNavButton()"
                   class="block p-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded cursor-pointer">
                   Form
                </a>
            </li>
        </ul>

        <p class="font-bold text-sm mb-2 mt-5">AUTH</p>
        <ul class="space-y-2">
            @if (HttpContextAccessor?.HttpContext?.User.Identity?.IsAuthenticated == false)
            {
                <li>
                    <a hx-get="/login"
                       hx-push-url="true"
                       hx-trigger="click"
                       hx-target="#mainContentArea"
                       hx-swap="innerHTML"
                       hx-ext='json-enc'
                       hx-on::before-request="toggleNavButton()"
                       class="block p-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded cursor-pointer">
                       <b>Log in</b>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a hx-get="/logout"
                       hx-push-url="/home"
                       hx-trigger="click"
                       hx-target="#mainContentArea"
                       hx-swap="innerHTML"
                       hx-ext='json-enc'
                       hx-on::before-request="toggleNavButton()"
                       class="block p-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded cursor-pointer">
                       Log out
                    </a>
                </li>
                <li>
                    <a hx-get="/admin/dashboard"
                       hx-push-url="true"
                       hx-trigger="click"
                       hx-target="#mainContentArea"
                       hx-swap="innerHTML"
                       hx-ext='json-enc'
                       hx-on::before-request="toggleNavButton()"
                       class="block p-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded cursor-pointer">
                       Admin dashboard
                    </a>
                </li>
            }
        </ul>
    </aside>
</div>


<script>
    function isSmallScreen() {
        return window.matchMedia("(max-width: 768px)").matches;
    }

    function toggleNavButton() {
        const navButton = document.getElementById('navMenuButton');
        if (isSmallScreen() && navButton) {
            navButton.click();
        }
    }
</script>

@code
{
    [Inject] public IHttpContextAccessor? HttpContextAccessor { get; set; }

    [Parameter] public NavModel Model { get; set; } = new() { IsCollapsed = false };

    public class NavModel
    {
        public bool IsCollapsed { get; set; }
        public string ToJson() => JsonSerializer.Serialize(this);
    }
}
