<section class="section" style="min-height:85%;">
    <div class="container">
        <div class="columns">
            <NavMenu />
            <div class="column is-9">
                <Hero />
                <section class="section">
                    <div id="mainContentArea" class="content">
                        <Home />
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered has-text-centered is-flex-align-items-flex-end mt-auto">
        <p>
            <strong>App Name</strong> by <a href="#">Your Name</a>. 
            The source code is licensed under <a href="#">MIT</a>.
        </p>
    </div>
</footer>