<section class="hero has-background-info-dark" style="border-radius:20px;">
    <div class="hero-body">
        <p class="title  has-text-light">
            Welcome to <b>MARCH</b>
        </p>
        <p class="subtitle has-text-light">
            (Minimal APIs, Razor Components & HTMX)
        </p>
    </div>
</section>
