<section class="rounded-2xl p-8 bg-neutral-300 dark:bg-neutral-800 dark:text-neutral-300">
    <div class="text-center">
        <p class="text-4xl font-bold text-sky-800 dark:text-gray-300">
            <b>MARCH</b>
        </p>
        <p class="text-xl mt-4">
            <i>(<span class="dark:text-orange-200">Minimal APIs</span>, <span class="dark:text-teal-500">Razor Components</span> & <span class="text-violet-300">HTMX</span>)</i>
        </p>
    </div>
</section>