<div id="navMenu" class="column is-3">

    <span class="icon is-large block toggle-button" 
          hx-post="nav" 
          hx-trigger="click" 
          hx-target="#navMenu" 
          hx-swap="outerHTML" 
          hx-ext='json-enc' 
          hx-vals='{"IsClosed": @Model.IsClosed.ToString().ToLower()}'>
        @if (Model.IsClosed)
        {
            <i class="fas fa-bars"></i>
        }
        else
        {
            <i class="fas fa-times"></i>
        }
    </span>

    <aside class="menu" id="side-menu" style="display: @(Model.IsClosed ? "none" : string.Empty)">

        <p class="menu-label">General</p>
        <ul class="menu-list">
            <li>
                <a 
                    hx-get="home" 
                    hx-trigger="click" 
                    hx-target="#mainContentArea" 
                    hx-swap="innerHTML" 
                    hx-on::after-request="toggleNavButton()">
                    Home
                </a>
            </li>
            <li>
                <a 
                    hx-get="profile" 
                    hx-trigger="click" 
                    hx-target="#mainContentArea" 
                    hx-swap="innerHTML" 
                    hx-on::after-request="toggleNavButton()">
                    Profile
                </a>
            </li>
        </ul>

        <p class="menu-label">Interactivity</p>
        <ul class="menu-list">
            <li>
                <a 
                    hx-post="counter" 
                    hx-trigger="click" 
                    hx-target="#mainContentArea" 
                    hx-swap="innerHTML" 
                    hx-ext='json-enc' 
                    hx-on::after-request="toggleNavButton()">
                    Counter
                </a>
            </li>
            <li><a href="#">Settings</a></li>
        </ul>

        <p class="menu-label">Reports</p>
        <ul class="menu-list">
            <li><a href="#">Monthly</a></li>
            <li><a href="#">Yearly</a></li>
        </ul>
    </aside>
</div>

<script>
    function toggleNavButton() {
        const isSmallScreen = window.matchMedia("(max-width: 768px)").matches;
        const toggleButton = document.querySelector('.toggle-button');

        if (isSmallScreen && toggleButton) {
            toggleButton.click();
        }
    }
</script>

@code
{
    [Parameter]
    public NavMenuModel Model { get; set; } = new();
}
