<p class="subtitle is-4">A fresh approach to creating Server-Side-Rendered web applications</p>

<p>
    <b>Minimal APIs</b> offer a lightweight, high-performance framework for creating HTTP services in .NET.
    With Minimal APIs, you can quickly spin up endpoints, handle requests, and return responses 
    without the need for complex boilerplate code, making it an excellent choice for microservices, 
    small applications, or even parts of larger applications that need to remain lightweight.

    <br />
    <br />

    <b>Razor Components</b> bring the power of component-based development to .NET,
    enabling developers to build reusable, encapsulated UI components with ease. 
    Razor Components are a cornerstone of modern .NET web development, allowing for the creation of interactive, 
    responsive user interfaces that can be shared across different pages and applications.

    <br />
    <br />

    <b>HTMX</b> is a lightweight JavaScript library that allows you to create dynamic,
    modern web applications without relying on heavy client-side frameworks. 
    By using HTML attributes, HTMX lets you seamlessly integrate server-side logic into your UI, 
    enabling features like content updates, page transitions, and more, all without writing a single line of JavaScript.
</p>
