<div id="inputForm">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="e.g John Doe">
        </div>
    </div>

    <FormEmail Model="Model" />

    <div class="control">
        <button class="button is-primary"
                hx-post="form/submit"
                hx-trigger="click"
                hx-ext='json-enc'
                hx-target="#inputForm"
                hx-swap="outerHTML">
            Submit
        </button>
    </div>
</div>

@code
{
    [Parameter] public FormModel Model { get; set; } = new();

    public record FormModel
    {
        public string? Name { get; set; }
        public string? Email { get; set; }
        public List<(string PropertyName, string ErrorMessage)> Errors { get; set; } = [];
    }
}
